# Python cache
__pycache__/
*.pyc

# Virtual environments
mine_environment/
venv/
.env/

# IDE settings
.vscode/
.idea/

#Files which were not used for IPC presentation during minor project
federated_mpi.py
main.py
attack_mpi.py